/* BASIC STYLES HERE */


/* Font */

.img-text {
  color: #d2d0d0;
  text-shadow: 1px 1px 2px black;
  font-family: 'Black Ops One', cursive;
}

.img-text-times {
  color: #d2d0d0;
  text-shadow: 1px 1px 2px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

/* * {

} */

.hand {
  font-family: 'Just Another Hand', cursive;
}

.scale-up:hover {
  transform: scale(1.2) !important;
}

/* Clock */
.center-stage {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7em;
  height: 100vh;
}

body {
  background-position: center;
  background-size: cover;
}


/* Background */
.clear {
  background-color: transparent;
}

/* Date */
#date {
  transform: translateY(-50px);
}


/* Links */
a {
  text-decoration: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.codeworks {
  height: 1em;
}

#todo-list {
  overflow-y: scroll;
}

.links-offcanvas {
  width: 15vw;
  margin-top: 10vh;
  height: 72vh;
  overflow-y: scroll;
}


/* Todo */
.input-todo {
  margin-top: 2.2em !important;
}

.todo-list {
  width: 400px;
  position: absolute;
  bottom: 0;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.todo-offcanvas {
  background-image: url(/assets/img/new\ note.png);
  background-position: center;
  background-size: inherit;
  height: 65vh;
  width: 23vw;
  margin-top: 15vh;
  margin-right: 1vw;
  border: 2px 2px 2px solid black !important;
  filter: brightness(75%);
  overflow-y: scroll;
}